<form class="add-comment" [formGroup]="commentForm" (submit)="onSubmit()">
  <div class="text-area-container w-full max-w-3xl mx-auto p-2">
    <p-floatlabel variant="in">
      <textarea #descriptionTextArea formControlName="description" pTextarea id="description" rows="3" cols="30"
        [autoResize]="true" class="h-full w-full" [maxlength]="500"></textarea>

      <label for="description">{{ formLabel() }}</label>
    </p-floatlabel>

    <div class="flex justify-end">
      <small id="description-help">{{descriptionTextArea.value.length}}/500</small>
    </div>

    @if (description?.invalid && (description?.dirty || description?.touched)) {
    <div class="w-full p-2">
      <p-message severity="error" variant="simple" size="small">{{ getErrorMessage('description') }}</p-message>
    </div>
    }
  </div>

  <div class="flex justify-end">
    <p-button type="submit" severity="contrast" label="Enviar" [disabled]="!commentForm.valid" class="mt-4"></p-button>
  </div>
</form>
