<article class="post-item block m-3 p-3 rounded-lg shadow-lg bg-surface-200 dark:shadow-none dark:bg-surface-500">
  <div class="post-header flex row align-items-center justify-content-between gap-2">
    <div class="flex col justify-between gap-1 w-full">
      <div class="user-info-container flex row align-items-center gap-2">
        <div class="h-12 w-12 rounded-2xl">
          <img class="post-avatar" [src]="postAuthorImageUrl" [alt]="'Avatar de ' + post().author.name" />
        </div>

        <div>
          <p class="font-bold text-primary-600">&#64;{{ post().author.username }}</p>

          <p id="" class="post-author text-sm font-semibold">
            {{ post().author.name }} {{post().author.surname }}
          </p>
        </div>
      </div>

      @if (showOptions()) {
      <div class="post-options">
        <p-menu #menu [model]="options()" [popup]="true"
          [style]="{ 'z-index': 1002, 'top': '58px', 'left': '100px', 'transform-origin': 'center top' }">
        </p-menu>

        <p-button icon="pi pi-ellipsis-v" (onClick)="menu.toggle($event)"></p-button>
      </div>
      }
    </div>
  </div>

  <div class="post-content">
    <h2 class="post-title block font-medium text-2xl my-2">{{ post().title }}</h2>

    @if (post().imageUrl) {
    <div class="post-image-container mt-4 mb-2">
      <img class="post-image" [src]="postImageUrl" [alt]="post().title" />
    </div>
    }

    <p class="post-description font-normal">{{ post().description }}</p>

    <p class="post-date block text-sm my-2 pt-2 text-zinc-600 ">
      Publicado el {{ post().createdAt | date:'dd/M/yyyy HH:mm'}}
    </p>
  </div>

  <div class="post-actions flex row align-items-center justify-content-between gap-2">
    <p-button [icon]="isPostLikedByUser ? 'pi pi-thumbs-up-fill' : 'pi pi-thumbs-up'" label="Like"
      (click)="onPostLike()" [pTooltip]="likesMessage" tooltipPosition="top" showDelay="300" hideDelay="500"
      positionLeft="20"></p-button>

    <p-button icon="pi pi-comment" label="Comentar" (click)="onPostComment()" [pTooltip]="commentsMessage"
      tooltipPosition="top" showDelay="300" hideDelay="500"></p-button>
  </div>
</article>
