<section>
  <p-accordion expandIcon="pi pi-plus" collapseIcon="pi pi-times">
    <p-accordion-panel value="0">
      <p-accordion-header>
        <span class="text-lg font-semibold">Publicar un nuevo post</span>
      </p-accordion-header>

      <p-accordion-content>
        <p class="text-sm text-gray-500">
          Crea un nuevo post para compartir con tus amigos!
        </p>

        <sn-post-form (submitEvent)="onCreatePost($event)" />
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</section>

<section class="mt-8 min-h-4">
  <sn-post-filter (sortingChangeEvent)="onSortingChange($event)" />
</section>

<section class="mt-8 min-h-4" (window:scroll)="onScroll()">
  <h2 class="text-2xl font-bold mb-4">Posts recientes</h2>

  <sn-post-list [posts]="posts()" (postLikeEvent)="onLikePost($event)" (postDeleteEvent)="onDeletePost($event)" />

  @if(!hasMore()){
  <div class="text-center text-gray-500 my-4">No hay más publicaciones para mostrar.</div>
  }
</section>
