<form [formGroup]="registerForm">
  <div class="mx-auto w-full max-w-md my-10">
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="text-primary pi pi-user"></i>
      </p-inputgroup-addon>

      <p-floatlabel variant="over">
        <input name="name" type="text" pInputText id="name" autocomplete="true" formControlName="name" class="w-full" />
        <label for="name">Nombre</label>
      </p-floatlabel>
    </p-inputgroup>

    <div class="w-full p-2">
      @if (name?.invalid && (name?.dirty || name?.touched)) {
        <p-message severity="error" variant="simple" size="small">{{ getErrorMessage('name') }}</p-message>
      }
    </div>
  </div>

  <div class="mx-auto w-full max-w-md my-10">
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="text-primary pi pi-id-card"></i>
      </p-inputgroup-addon>

      <p-floatlabel variant="over">
        <input name="surname" type="text" pInputText id="surname" autocomplete="true" formControlName="surname"
          class="w-full" />
        <label for="surname">Apellido</label>
      </p-floatlabel>
    </p-inputgroup>

    <div class="w-full p-2">
      @if (surname?.invalid && (surname?.dirty || surname?.touched)) {
        <p-message severity="error" variant="simple" size="small">{{ getErrorMessage('surname') }}</p-message>
      }
    </div>
  </div>

  <div class="mx-auto w-full max-w-md my-10">
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="text-primary pi pi-envelope"></i>
      </p-inputgroup-addon>

      <p-floatlabel variant="over">
        <input name="email" type="email" pInputText id="email" autocomplete="true" formControlName="email"
          class="w-full" />
        <label for="email">Email</label>
      </p-floatlabel>
    </p-inputgroup>

    <div class="w-full p-2">
      @if (email?.invalid && (email?.dirty || email?.touched)) {
        <p-message severity="error" variant="simple" size="small">{{ getErrorMessage('email') }}</p-message>
      }
    </div>
  </div>

  <div class="mx-auto w-full max-w-md my-10">
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="text-primary pi pi-at"></i>
      </p-inputgroup-addon>

      <p-floatlabel variant="over">
        <input name="username" type="text" pInputText id="username" autocomplete="true" formControlName="username"
          class="w-full" />
        <label for="username">Nombre de usuario</label>
      </p-floatlabel>
    </p-inputgroup>

    <div class="w-full p-2">
      @if (username?.invalid && (username?.dirty || username?.touched)) {
        <p-message severity="error" variant="simple" size="small">{{ getErrorMessage('username') }}</p-message>
      }
    </div>
  </div>

  <div class="mx-auto w-full max-w-md my-10">
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="text-primary pi pi-key"></i>
      </p-inputgroup-addon>

      <p-floatlabel variant="over">
        <input [type]="passwordVisible() ? 'text' : 'password'" pInputText id="password" formControlName="password"
          class="w-full" />
        <label for="password">Contraseña</label>
      </p-floatlabel>

      <p-inputgroup-addon>
        <p-button [icon]="passwordVisible() ? 'pi pi-eye' : 'pi pi-eye-slash'" severity="primary" variant="text"
          (click)="togglePasswordVisibility()" />
      </p-inputgroup-addon>
    </p-inputgroup>

    <div class="w-full p-2">
      @if (password?.invalid && (password?.dirty || password?.touched)) {
        <p-message severity="error" variant="simple" size="small">{{ getErrorMessage('password') }}</p-message>
      }
    </div>
  </div>

  <div class="mx-auto w-full max-w-md my-10">
    <p-inputgroup>
      <p-inputgroup-addon>
        <i class="text-primary pi pi-asterisk"></i>
      </p-inputgroup-addon>

      <p-floatlabel variant="over">
        <input [type]="confirmPasswordVisible() ? 'text' : 'password'" pInputText name="confirm-password"
          id="confirm-password" formControlName="confirmPassword" class="w-full" />
        <label for="confirm-password">Repetir contraseña</label>
      </p-floatlabel>

      <p-inputgroup-addon>
        <p-button [icon]="confirmPasswordVisible() ? 'pi pi-eye' : 'pi pi-eye-slash'" severity="primary" variant="text"
          (click)="toggleConfirmPasswordVisibility()" />
      </p-inputgroup-addon>
    </p-inputgroup>

    <div class="w-full p-2">
      @if (confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)) {
        <p-message severity="error" variant="simple" size="small">{{ getErrorMessage('confirmPassword') }}</p-message>
      }
    </div>
  </div>

  <div class="mx-auto w-full max-w-md my-10">
    <p-floatlabel>
      <p-datepicker formControlName="birthday" dataType="string" dateFormat="dd/mm/yy" hideOnDateTimeSelect="true"
        inputId="birthday" keepInvalid="true" name="birthday" readonlyInput="true" required="true"
        selectionMode="single" showButtonBar="true" showClear="true" styleClass="w-full" [maxDate]="maxDate"
        [minDate]="minDate" [showIcon]="true" [showOnFocus]="true" />
      <label for="birthday">Fecha de nacimiento</label>
    </p-floatlabel>

    <div class="w-full p-2">
      @if (birthday?.invalid && (birthday?.dirty || birthday?.touched)) {
        <p-message severity="error" variant="simple" size="small">{{ getErrorMessage('birthday') }}</p-message>
      }
    </div>
  </div>

  <div class="mx-auto w-full max-w-md my-10">
    <p-floatlabel>
      <label for="bio">Descripción</label>
      <textarea #bioTextArea pTextarea name="bio" id="bio" rows="5" [autoResize]="true"
        [maxLength]="500" formControlName="bio" class="w-full"></textarea>
    </p-floatlabel>

    <div class="flex justify-end">
      <small id="username-help">{{bioTextArea.value.length}}/500</small>
    </div>

    <div class="w-full p-2">
      @if (bio?.invalid && (bio?.dirty || bio?.touched)) {
        <p-message severity="error" variant="simple" size="small">{{ getErrorMessage('bio') }}</p-message>
      }
    </div>
  </div>

  <div class="mx-auto w-full max-w-md my-10">
    <div class="flex-col md:flex-row items-center justify-between py-2">
      <div class="flex justify-center">
        <img class="h-16 w-16 rounded-full object-cover" [class.contrast-50]="!hasFileSelected()"
          alt="Current profile photo" src="/assets/img/user-placeholder.png">
      </div>

      <div class="input-file-container hover:bg-surface-300 dark:hover:bg-primary-contrast rounded-3xl">
        <label class="block">
          <input type="file" accept="image/*" name="profile-picture" id="profile-picture"
            class="flex flex-col w-full text-sm text-gray-500 sm:file:mr-4 md:file:mr-8 file:rounded-full file:border-0 file:px-4 file:py-2 file:text-sm file:font-semibold file:text-primary-600 hover:file:bg-primary-300 hover:file:text-primary-800 dark:file:bg-primary-600 dark:file:text-surface-300 dark:hover:file:bg-primary-500 dark:hover:file:text-surface-200 cursor-pointer transition-all duration-300"
            (change)="onFileSelected($event)">
        </label>
      </div>
    </div>

    <div class="w-full p-2">
      @if (profilePicture?.invalid && (profilePicture?.dirty || profilePicture?.touched)) {
        <p-message severity="error" variant="simple" size="small">{{ getErrorMessage('profilePicture') }}</p-message>
      }
    </div>
  </div>


  <div class="flex justify-center my-6">
    <p-button tabindex="-1" [tabindex]="0" label="Crear cuenta" type="submit" severity="primary" (click)="onSubmit()" />
  </div>
</form>
